movie_data.csv
ratings_export.csv
users_export.csv
Website_Backend/movie_metadata.csv
Website_Backend/metadata.pkl
Website_Backend/movie_faiss_index.faiss
__pycache__/data.cpython-311.pyc
localGPT/
__pycache__/